.pg-moving-div-container {
  background-color: white;
  height: 400px;
  width: 90%;
  margin: 0 auto;
  position: relative;
}

.pg-moving-div-box {
  width: 150px;
  height: 80px;
  background-color: gray;

  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px; */
}

.pg-moving-text {
  text-transform: uppercase;
  line-height: 80px;
  margin: 0;
  user-select: none;
}

.pg-moving-div-box:hover {
  cursor: grab;
}

.pg-moving-div-box:active {
  cursor: move;
}
